.background {
  height: 100vh;
  background-color: white;
}

.notfoundtext {
margin-top: 100PX;
font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
font-weight: 500;
line-height: 7;
color: black;
font-size: 1.7em;
}

.imagecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
